<!doctype html>
<html ng-app="sfMovieApp">
	<head>
		<title>San Fransisco Shooting Locations</title>
		<meta charset="utf-8" name="viewport" content="San fransisco movie timings" content="width=device-width, initial-scale=1">
		<link href="main/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="main/css/print.css" media="print" rel="stylesheet" type="text/css" />
		<!--[if IE]>
		<link href="/public/main/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->
		<script type="text/javascript" src="lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="lib/angular-route/angular-route.min.js"></script>
	</head>
	<body class="homepage">
		<div ng-controller="mainCtrl">
			<div id="header-wrapper">
				<div id="header" class="container">
					<h1>San Francisco: Movie Shoot Locations</h1>
				</div>
			</div> <!-- header wrapper ends -->
			<div id="main-wrapper" class="container">
				<form ng-submit="submit(text)" novalidate>
					<movie-search></movie-search>
					<!-- <input id='search' ng-model='text' placeholder='search for streets'>-->
					<!-- replaced that input with a directive-->
				</form>
				<div id="map-wrapper">
					<movie-map streets=subMLocations zoom="12"></movie-map>
					<!-- this is where the custom google maps attribute is going to go - replace by div#map with class container -->
				</div>
			</div>

			<div id="d3-wrapper" class="container" ng-controller="d3Ctrl">
				<ul class="badges">
					<li class="badge">
						<a href="#/showBarChart">
							<span class="fa fa-bar-chart"></span>
						</a>
					</li>
				</ul>
				<div id="svg-wrapper" ng-view></div>
			</div>

		</div>

		<!-- angular scripts that need to be loaded -->
		<script type="text/javascript" src="d3/d3.application.js"></script>
		<script type="text/javascript" src="application.js"></script>
		<script type="text/javascript" src="d3/directives/d3.directives.hist.js"></script>
		<script type="text/javascript" src="d3/controllers/d3.main.controller.js"></script>
		<script type="text/javascript" src="main/services/main.services.dataCollector.js"></script>
		<script type="text/javascript" src="main/controllers/main.client.controller.js"></script>
		<script type="text/javascript" src="main/directives/maps.js"></script>
		<script type="text/javascript" src="main/directives/search.js"></script>
		
		<!-- d3 controllers being loaded -->


	</body>
</html>
